<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldensnitch.qudditch.mapper.NotificationSettingMapper">

<update id="updateNotificationSetting" parameterType="com.goldensnitch.qudditch.dto.NotificationSetting">
    UPDATE notification_setting
    SET emailNotificationEnabled = #{emailNotificationEnabled}, ...
    WHERE userCustomerId = #{userCustomerId}
</update>

<select id="getNotificationSettingByUserId" parameterType="Integer" resultType="com.goldensnitch.qudditch.dto.NotificationSetting">
    SELECT * FROM notification_setting WHERE userCustomerId = #{userCustomerId}
</select>
</mapper>