<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldensnitch.qudditch.mapper.UserAdminMapper">

    <!-- 이메일로 관리자 검색 -->
<select id="findByEmail" parameterType="String" resultType="com.goldensnitch.qudditch.dto.UserAdmin">
    SELECT * FROM user_admin WHERE email = #{email}
</select>
</mapper>